<div class="row w-100">
    <div class="col-md-4" ></div>
    <div class="col-md-4 d-flex justify-content-center align-items-cente mt-5 flex-column">
        <img src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png" alt="" class="w-100">
        <div class="d-flex align-items-center justify-content-center mt-5">
            <button class="btn btn-primary"><i class="me-2 fa-solid fa-arrow-left"></i>  Back to Home </button>
        </div>
        

    </div>
    <div class="col-md-4"></div>
</div>